.footer {
  background-color: #ffff;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: self-start;
  font-size: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 50;
  margin: 60px 0px 50px;
  font-size: 15px;
  width: 100%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.link-social ul li {
  display: flex;
  justify-content: left;
  align-items: center;
}
.link-social ul li a {
  margin-left: 10px;
  color: #000;
}
.customer-service {
  list-style: none;
}
.about {
  list-style: none;
}
@media screen and (max-width: 960px) {
  .footer-container {
    display: none;
  }
}
